.wrapper {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  min-height: calc(100vh - 76px);
  height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  overflow-y: auto;
}
